{% extends 'staff_template/base_template.html' %} {% block page_title %} View Applicant {% endblock page_title %} {% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">View Student</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    {% url 'view_applicant_save' as action_path %} {% include 'staff_template/staff_form_template.html' with messages=messages form=form action_path=action_path button_text="View Student" %}
                    <!-- /.card -->



                </div>
            </div>
        </div>
</section>
<!-- /.content -->
{% endblock main_content %}