{% extends 'student_template/base_template.html' %} {% block page_title %} Apply for Exception from Paying Dormitory Fees {% endblock page_title %} {% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Apply for Exception</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    {% url 'student_apply_exception_save' as action_path %} {% include 'student_template/form_template.html' with messages=messages form=form action_path=action_path button_text="Submit Application" %}
                </div>
                <!-- /.card -->



            </div>
        </div>
    </div>
</section>
<!-- /.content -->
{% endblock main_content %}